<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cargo Booking System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginPage</display-name>
    <servlet-name>LoginPage</servlet-name>
    <servlet-class>com.r3sys.dbcon.LoginPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargoAdd</display-name>
    <servlet-name>CargoAdd</servlet-name>
    <servlet-class>com.r3sys.dbcon.CargoAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargoAdd</servlet-name>
    <url-pattern>/CargoAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.r3sys.dbcon.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>com.r3sys.dbcon.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCargo</display-name>
    <servlet-name>UpdateCargo</servlet-name>
    <servlet-class>com.r3sys.dbcon.UpdateCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCargo</servlet-name>
    <url-pattern>/UpdateCargo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingCargo</display-name>
    <servlet-name>BookingCargo</servlet-name>
    <servlet-class>com.r3sys.dbcon.BookingCargo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingCargo</servlet-name>
    <url-pattern>/BookingCargo</url-pattern>
  </servlet-mapping>
</web-app>